.component-view {
  margin: 1em auto;
  max-width: 65%;
  font-family: 'DIN Regular';
}

.li {
  list-style: none;
}

.deck-name {
  font-family: 'DIN Regular';
  border: none;
  font-size: 30px;
  display: block;
  background-color: inherit;
  margin-top: 1em;
  width: 90%;
}

.deck-desc {
  font-family: 'DIN Regular';
  font-size: 20px;
  background-color: inherit;
  border: none;
  margin-top: 1em;
  width: 90%;
}

.card-wrapper {
  background-color: #ffffff;
  border: 2px #eee solid;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  transition: ease 0.4s;
}

#card-field {
  border: 2px solid #f2f2f2;
  font-family: inherit;
  font-size: 14px;
  padding: 8px;
  background-color: #f2f2f2;
  width: 70%;
  margin: 0.5em 0.2em 0.5em 2em;
}

#cont-left {
  flex: 0 0 50%
}

#cont-right {
  flex: 1;
}

#card-field:focus{
  border: 2px solid #f67280;
}

#create-button {
  background-color: #f2f2f2;
  color: #000000;
  border: #000000 1px solid;
  padding: 15px;
  margin-top: 2em;
  position: relative;
  float: left;
}

#submit-button {
  margin-top: 2em;
  float: right;
}

#create-button:hover{
  background-color: #f67280;
}

.deck-table{
  width: 100%;
  }

.table-row {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.view {
  padding: .875rem 1rem;
  padding-right: 4em;
  overflow: hidden;
  width: 20%;
  margin: 0.5em;
}

.card-bottom > i{
  color: #fff
}

.title-definition, .table-header, .title-word {
  background-color: #1e1e1e !important;
  color: #fff;
}

.table-header {
  font-weight: 700;
}

.table-header, .table-row{
  min-width: 296px;
}

#notfound{
  color: darkorange
}

@media(max-width: 980px) {
  .card-wrapper { display: block;}
  #card-field {
    display: block;
    margin: 20px;
    width: 85%;
  }
  #wrap-button {
    margin: 0 0 20px 20px;
  }
  #unit-wrapper {
    display: block;
    padding: 2em
  }
  .unit-image {
    display: none;
  }
}

#deck-title {
  font-size: 20pt;
}

#deck-desc {
  font-style: italic;
}

#wrap-button{
  color: black;
  padding: 10px;
  background-color: white;
  border: none;
  transition: ease 0.4s;
}

#d-edit {
  cursor: pointer;
  color: grey;
  transition: ease 0.4s;
  margin-left: 20px;
}

#d-edit:hover {
  color: #f67280;
}

.edit-mode {
  border-bottom: 2px #f8b195 solid;
  color: #262626
}

.edit-mode:focus, input[type=text]:focus {
  border: none;
  border-bottom: 2px #c06c84 solid;
}

#mode-selection {
  padding: 15px 0px;
}

/*
@media (prefers-color-scheme: dark) { 
  .card-wrapper {
    background-color: #282828;
    border: 2px #000000 solid;
  }
  #card-field {
    border: 2px solid #222222;
  }
  #create-button {
    background-color: #282828;
    color: #fff;
  }

}*/