.running-text {
    font-family:  'DIN Regular';
    font-size: 1.1em;
    line-height: 1.6;
    margin: 1em auto;
    padding-top: 20px;
    padding: 0 .62em;
    width: 70vw;
}

@media(max-width: 980px){
    .running-text{
        width: 85vw;
        margin: 0 auto
    }
}

#link {
    color: darkslateblue;
    cursor: pointer;
}

#link:hover {
    color: orange
}