html, body {
    margin: 0;
    padding: 0;
    font-family: 'DIN Regular';
    background-color: #f2f2f2;
}

@font-face { 
    font-family: "DIN Regular"; 
    src: url("fonts/din1451alt.ttf"); 
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBMPlexMono-Regular.ttf")
}

.component-view {
    margin: 1em auto;
    padding-top: 100px;
    max-width: 65%;
    line-height: 1.6;
    font-family: 'DIN Regular';
  }  

.main-nav {
    font-family: 'IBM Plex Mono';
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #000;
    min-height: 90px;
    text-transform: uppercase;
}

ul > a {
    transition: 0.2s ease-in;
}

ul > a:hover {
    color: #f67280
}

a {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.links-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}

.is-active {
    color: #f8b195
}

a > li {
    margin-left: 10px;
}

#app-title {
    background-color: #f67280;
    height: 100%;
}

#root {
    margin: 0 auto;
}

button {
    background-color: #1d1d1d;
    font-family: 'DIN Regular';
    color: white;
    border: 2px transparent solid;
    padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 12px;
    min-height: 3rem;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: ease 0.4s;
}

button:hover {
    background-color: #f67280;
}

button:disabled {
    background-color: #c6c6c6;
    color: #8d8d8d;
    cursor: not-allowed;
}

.add-deck, .add-deck-mobile {
    font-family: 'IBM Plex Mono';
}

.add-deck-mobile{
    display: none;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 14px;
    height: 20px;
    margin: 0;
}

@media(max-width: 650px){
    .add-deck-mobile {
        display: block
    }
    .add-deck {
        display: none;
    }
}

@media(max-width: 980px){
    .component-view {
        margin: 0.5em 1em 1em;
        max-width: 90%;
    }
    ul {
        margin: 0;
        padding: 0;
    }
}

#unit-wrapper {
    color: #000;
    display: flex;
    margin: 20px;
    padding: 2em 0;
    border: 1px solid #262626;
    box-shadow: 10px 10px;
    transition: 0.2s ease-in;
}

#unit-wrapper:hover {
    color: #4c4c4c;
}

.unit-container {
    width: 100%;
    flex-grow: 1;
}

.unit-image{
    display: inline-block;
    margin-right: 1.5em;    
    padding: 40px;
}

.react-confirm-alert-body {
    font-family: 'DIN Regular' !important;
    color: #000 !important;
}

.react-confirm-alert-button-group > button {
    background-color: #000 !important;
}

#tableHeader{
    flex: 50%;
}

.add-deck > li {
    border-bottom: 2px #ccc solid;
}

input {
    outline: none;
    -webkit-transition: 0.5s;
}

input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    resize: none;
    height: 2em;
    outline: none;
    white-space: pre;
    overflow-wrap: normal;
}

.user-menu-icon {
    padding-left: 40px
}

.user-menu-icon:hover {
    color: #6c567b;
    cursor: pointer
}

.user-menu-content {
    display: block;
    position: fixed;
    background-color: #000000;
    border: 2px #262626 solid;
    color: #fff;
    padding: 0px;
}

.user-menu-list {
    list-style: none;
    text-decoration: none;
    margin-left: 0;
    padding: 0
}

.user-menu-list > li {
    padding: 10px;
    cursor: pointer;
}

.user-menu-list > li:hover {
    color: #000;
    background-color: #fff;
}

pre{
    font-family: 'IBM Plex Mono';
    white-space: pre;
}

/*
@media (prefers-color-scheme: dark) { 
 
    * {
       background-color: #101010;
       color: #fff
    }
    a {
        color: #f2f2f2;
        text-decoration: none;
        transition: ease 0.4s;
    }
    nav{
        border-bottom: 2px #fff solid;
    }

#wrap-button{
    color: white;
    background-color: black;
    border: none;
    transition: ease 0.4s;
    }
}*/