.component-view {
    margin: 1em auto;
    max-width: 65%;
    font-family: 'DIN Regular';
  }

.test-card {
    border: 2px solid black;
    box-shadow: 5px 5px #262626;
    min-width: 30vw;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.card-top {
    padding: 1.5em 0 1.5em 0em;
    border-bottom: 1px solid black;
}

.card-bottom {
    padding: 1.5em 0 1.5em 0em;
    cursor: pointer;
    background-color: #1d1d1d;
}

.card-bottom > p {
    background-color: gray;
    color: gray
}

.spoiler {
    color: #fff;
    background-color: black;
}

#revealed {
    color: #fff;
    background-color: #1d1d1d;
}

.button-group {
  padding-top: 20px;
}

.result-dialogue {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    border-top: 2px #262626 solid;
    height: 20vh;
    background-color: #ffffff;
}

.easy { background-color: #42be65;}

.easy:hover { background-color: #2b7a42;}

.again { background-color: #da1e28;}

.again:hover { background-color: #b81921;}

#continue-button {
  float: right; 
  margin-right: 40px;
}

#test-input {
    outline: none;
    -webkit-transition: 0.5s;
    border: 3px solid #262626;
    font-family: inherit;
    font-size: 14px;
    padding: 8px;
    background-color: #ffffff;
    width: 89%;
    height: 5vh;
    margin-top: 2em;
    margin-right: 0.5em;
}

#test-input:focus {
    border: 3px solid #f67280;
}


textarea {
    resize: none;
    height: 2em;
    outline: none;
    white-space: pre;
    overflow-wrap: normal;
}

.input-container {
  width: 100%;
}

@media(max-width: 650px) {
    .component-view {
      margin: 0.5em 3em 4em;
      max-width: 85%;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

.correct {
    background-color: #adbca5;
    color: #fff
}

.wrong {
    background-color: #f67280;
    color: #fff;
}